
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

Hello There.

<br/>
<br />
<a href="@Url.Action("Register")">Register Now</a>
<br />
<br />
<a href="@Url.Action("Login")">Login</a>
<br />
<br />
<a href="@Url.Action("PrivatePage")">Private Page</a>